.header, .collapse, .navbar, .navbar-brand
{
    display: flex;
    align-items: center;
    background-color: #a1a1a1;
    text-align: center;
    width: 100%;
}
.logo
{
    padding-left: 20px;
}
.navbar-brand
{
    margin-left: 5px;
    margin-right: -50px;
    text-align: center;
}
.navbar-nav
{
    text-align: center;
    width: 500px;
    display: flex;
}
.d-flex
{
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    display: block;
    text-align: center;
body
{
 
}
.container
{
    margin-left: 0%;
    padding-left: 0%;
}